[submodule "lib/ohmyzsh"]
	path = lib/ohmyzsh
	url = git@github.com:ohmyzsh/ohmyzsh.git
[submodule "lib/powerlevel10k"]
	path = lib/powerlevel10k
	url = git@github.com:romkatv/powerlevel10k.git
[submodule "lib/powerlevel10k-media"]
	path = lib/powerlevel10k-media
	url = git@github.com:romkatv/powerlevel10k-media.git
[submodule "vim/pack/plugins/start/vim-fugitive"]
	path = vim/pack/plugins/start/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "vim/pack/plugins/start/vim-gitgutter"]
	path = vim/pack/plugins/start/vim-gitgutter
	url = git@github.com:airblade/vim-gitgutter.git
[submodule "vim/pack/plugins/start/nvim-lspconfig"]
	path = vim/pack/plugins/start/nvim-lspconfig
	url = git@github.com:neovim/nvim-lspconfig.git
[submodule "vim/pack/plugins/start/nvim-jdtls"]
	path = vim/pack/plugins/start/nvim-jdtls
	url = git@github.com:mfussenegger/nvim-jdtls.git
[submodule "vim/pack/plugins/start/LuaSnip"]
	path = vim/pack/plugins/start/LuaSnip
	url = git@github.com:L3MON4D3/LuaSnip.git
[submodule "vim/pack/plugins/start/cmp_luasnip"]
	path = vim/pack/plugins/start/cmp_luasnip
	url = git@github.com:saadparwaiz1/cmp_luasnip.git
[submodule "vim/pack/plugins/start/nvim-cmp"]
	path = vim/pack/plugins/start/nvim-cmp
	url = git@github.com:hrsh7th/nvim-cmp.git
[submodule "vim/pack/plugins/start/cmp-nvim-lsp"]
	path = vim/pack/plugins/start/cmp-nvim-lsp
	url = git@github.com:hrsh7th/cmp-nvim-lsp.git
[submodule "vim/pack/plugins/start/gitsigns.nvim"]
	path = vim/pack/plugins/start/gitsigns.nvim
	url = git@github.com:lewis6991/gitsigns.nvim.git
[submodule "vim/pack/plugins/start/plenary.nvim"]
	path = vim/pack/plugins/start/plenary.nvim
	url = git@github.com:nvim-lua/plenary.nvim.git
[submodule "vim/pack/plugins/start/cmp-buffer"]
	path = vim/pack/plugins/start/cmp-buffer
	url = git@github.com:hrsh7th/cmp-buffer.git
[submodule "vim/pack/plugins/start/cmp-path"]
	path = vim/pack/plugins/start/cmp-path
	url = git@github.com:hrsh7th/cmp-path.git
[submodule "vim/pack/plugins/start/cmp-cmdline"]
	path = vim/pack/plugins/start/cmp-cmdline
	url = git@github.com:hrsh7th/cmp-cmdline.git
[submodule "vim/pack/plugins/start/friendly-snippets"]
	path = vim/pack/plugins/start/friendly-snippets
	url = git@github.com:rafamadriz/friendly-snippets.git
[submodule "vim/pack/plugins/start/cmp-nvim-lua"]
	path = vim/pack/plugins/start/cmp-nvim-lua
	url = git@github.com:hrsh7th/cmp-nvim-lua.git
[submodule "vim/pack/plugins/start/telescope.nvim"]
	path = vim/pack/plugins/start/telescope.nvim
	url = git@github.com:nvim-telescope/telescope.nvim.git
[submodule "vim/pack/plugins/start/nvim-treesitter"]
	path = vim/pack/plugins/start/nvim-treesitter
	url = git@github.com:nvim-treesitter/nvim-treesitter.git
[submodule "vim/pack/plugins/start/neon"]
	path = vim/pack/plugins/start/neon
	url = git@github.com:rafamadriz/neon.git
[submodule "vim/pack/plugins/start/nvim-ts-rainbow"]
	path = vim/pack/plugins/start/nvim-ts-rainbow
	url = git@github.com:p00f/nvim-ts-rainbow.git
[submodule "vim/pack/plugins/start/nvim-tree.lua"]
	path = vim/pack/plugins/start/nvim-tree.lua
	url = git@github.com:kyazdani42/nvim-tree.lua.git
[submodule "vim/pack/plugins/start/nvim-web-devicons"]
	path = vim/pack/plugins/start/nvim-web-devicons
	url = git@github.com:kyazdani42/nvim-web-devicons.git
[submodule "vim/pack/plugins/start/bufferline.nvim"]
	path = vim/pack/plugins/start/bufferline.nvim
	url = git@github.com:akinsho/bufferline.nvim.git
[submodule "vim/pack/plugins/start/vim-bbye"]
	path = vim/pack/plugins/start/vim-bbye
	url = git@github.com:moll/vim-bbye.git
[submodule "vim/pack/plugins/start/null-ls.nvim"]
	path = vim/pack/plugins/start/null-ls.nvim
	url = git@github.com:jose-elias-alvarez/null-ls.nvim.git
[submodule "vim/pack/plugins/start/impatient.nvim"]
	path = vim/pack/plugins/start/impatient.nvim
	url = git@github.com:lewis6991/impatient.nvim.git
[submodule "vim/pack/plugins/start/indent-blankline.nvim"]
	path = vim/pack/plugins/start/indent-blankline.nvim
	url = git@github.com:lukas-reineke/indent-blankline.nvim.git
[submodule "vim/pack/plugins/start/lualine.nvim"]
	path = vim/pack/plugins/start/lualine.nvim
	url = git@github.com:nvim-lualine/lualine.nvim.git
[submodule "vim/pack/plugins/start/Comment.nvim"]
	path = vim/pack/plugins/start/Comment.nvim
	url = git@github.com:numToStr/Comment.nvim.git
[submodule "vim/pack/plugins/start/vscode.nvim"]
	path = vim/pack/plugins/start/vscode.nvim
	url = git@github.com:Mofiqul/vscode.nvim.git
